<assembly>
    <id>deploy</id>
    <formats>
        <format>tar.gz</format>
    </formats>
    <includeBaseDirectory>false</includeBaseDirectory>
    <!--
  <dependencySets>
    <dependencySet>
      <outputDirectory>/libs</outputDirectory>
      <useProjectArtifact>false</useProjectArtifact>
      <includes>
        <include>com.devhc.quicklearning:quicklearning-assembly</include>
      </includes>
    </dependencySet>
  </dependencySets>
  -->
    <fileSets>
        <fileSet>
            <outputDirectory>conf</outputDirectory>
            <directory>${project.parent.basedir}/config/${deploy.app}</directory>
        </fileSet>
        <fileSet>
            <directory>${project.build.directory}</directory>
            <outputDirectory>/</outputDirectory>
            <includes>
                <include>${project.artifactId}*.jar</include>
            </includes>
        </fileSet>
        <fileSet>
            <outputDirectory>bin</outputDirectory>
            <fileMode>0755</fileMode>
            <directory>${project.parent.basedir}/scripts</directory>
        </fileSet>
        <fileSet>
            <outputDirectory>/conf</outputDirectory>
            <directory>${project.parent.basedir}/conf</directory>
        </fileSet>
        <fileSet>
            <outputDirectory>/web/appmaster</outputDirectory>
            <directory>${project.parent.basedir}/public/target/appmaster</directory>
        </fileSet>
        <fileSet>
            <outputDirectory>/web/historyserver</outputDirectory>
            <directory>${project.parent.basedir}/public/target/historyserver</directory>
        </fileSet>
    </fileSets>
    <containerDescriptorHandlers>
        <containerDescriptorHandler>
            <handlerName>metaInf-services</handlerName>
        </containerDescriptorHandler>
    </containerDescriptorHandlers>
</assembly>
